#logo{
	width:60%;
	height:auto;
}

#header{
	background-color:#9a9e9e;
	border-style:solid;
}

#categorias{
	border-style:solid;
	border-radius:5px;
	background-color:#d6d6d6;
}

#cuerpo{
	border-style:solid;
}


.item-lista {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.tarjeta-componente{
	border-style: solid;
	border-radius: 5px;
	background-color:white;
	padding:10px;
}

#footer{
	background-color:#9a9e9e;
}

.button {
    background-color: white; /* Green */
    color: #7fb0ff;
    padding: 1px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #4CAF50;
}

.imglst{
	height:30%;
	width:10%;
}

.imgdtl{
	height:40%;
	width:20%;
}