<!doctype html>
<html>
	<head>
		<title>Detalle Componente</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="tarjeta-componente">
			<div th:if="${velocidad!=null}">
				<label>Velocidad: </label><label th:text="${velocidad}"></label><br></br>
			</div>
			 <label>Tipo: </label><label th:text="${tipo}"></label><br></br>
			<div th:if="${tamanio!=null}">
			 <label >Tamanio: </label><label th:text="${tamanio}"></label><br></br>
			</div>
			<div th:if="${socket!=null}">
			 <label>Socket: </label><label th:text="${socket}"></label><br></br>
			</div>
			<div th:if="${nucleos!=null}">
			 <label>Nucleos: </label><label th:text="${nucleos}"></label><br></br>
			</div>
			<label>Modelo: </label><label th:text="${modelo}"></label><br></br>
			<label>Marca: </label><label th:text="${marca}"></label><br></br>
			<div th:if="${familia!=null}">
			 <label>Familia: </label><label th:text="${familia}"></label><br></br>
			</div>
			<div th:if="${capacidad!=null}">
			 <label>Capacidad: </label><label th:text="${capacidad}"></label><br></br>
			</div>
			<div th:if="${certificada!=null}">
			 <label>Certificada: </label><label th:text="${certificada}"></label><br></br>
			</div>
			<label>Precio: </label><label th:text="${precio}"></label><br></br>
			
		</div>	
	</body>

</html>