<!doctype html>
<html layout:decorator="paginaPrincipal">
	<head>
		<title>Detalle Componente</title>
		<link rel="stylesheet" type="text/css" href="/css/tienda.css"></link>

		<meta charset="UTF-8"></meta>
	</head>

	<body>
	  <div  layout:fragment="fragm">
		<div class="tarjeta-comp">
			
			<img class="imgdtl" th:src="${urlimg}"></img>
			<div th:if="${velocidad!=''}"> <!-- si null, no muestra -->
				<label>Velocidad: </label><label th:text="${velocidad}"></label><br></br>
			</div>
				<label>Tipo: </label><label th:text="${tipo}"></label><br></br>
			<div th:if="${tamanio!=''}">
				<label >Tamanio: </label><label th:text="${tamanio}"></label><br></br>
			</div>
			<div th:if="${socket!=''}">
				<label>Socket: </label><label th:text="${socket}"></label><br></br>
			</div>
			<div th:if="${nucleos!='0'}">
				<label>Nucleos: </label><label th:text="${nucleos}"></label><br></br>
			</div>
				<label>Modelo: </label><label th:text="${modelo}"></label><br></br>
			<label>Marca: </label><label th:text="${marca}"></label><br></br>
			<div th:if="${familia!=''}">
				<label>Familia: </label><label th:text="${familia}"></label><br></br>
			</div>
			<div th:if="${capacidad!=''}">
				<label>Capacidad: </label><label th:text="${capacidad}"></label><br></br>
			</div>
			<div th:if="${certificada!=''}">
				<label>Certificada: </label><label th:text="${certificada}"></label><br></br>
			</div>
				<label>Precio: </label><label th:text="${precio}"></label><br></br>
			
		</div>
	  </div>	
	</body>

</html>