<!doctype html>
<html layout:decorator="paginaPrincipal">
	<head>
		<title>Listado Componentes</title>
		<link rel="stylesheet" type="text/css" href="/css/tienda.css"></link>

		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		
		<script src="/js/listado.js"></script>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
	  <div layout:fragment="fragm">
		<div class="tarjeta-componente" th:each="componente:${listadoComponentes}">
			<!-- <div th:class="'inside ' + ${componente.marca== 'nvidia' ? 'nvidia' : (componente.marca=='intel'? 'intel': 'AMD')}">-->
				<a th:href="'detalleC/' + ${componente.id}"  th:text="${componente.modelo}"></a><br></br>
				<label>Tipo:</label><label th:text="${componente.tipo}"></label><br></br>
				<label>Marca:</label><label th:text="${componente.marca}"></label><br></br>
				<label>Precio</label><label th:text="${componente.precio}"></label><br></br>
			<a th:href=" 'eliminar/' + ${componente.id}">X</a>
			</div>
		</div>
	</body>

</html>