<!doctype html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/css/tienda.css"></link>

		<meta charset="UTF-8"></meta>
	</head>

	<body>
	  
		<h1>Loguear Administrador</h1>
		<form action="/procesarLogin">
		
			<input name="nombre" type="text" placeholder="nombre"></input>
			<input name="contrasenia" type="password" placeholder="contrasenia"></input>
			<input type="submit" value="Enviar"></input>
			
		
		</form>
	</body>

</html>