<!DOCTYPE html>
<html>

  <head>


    <meta charset="utf-8"></meta>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
	
	<link rel="stylesheet" type="text/css" href="/css/tienda.css"></link>
		
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
    <title>Tienda estelar</title>

  </head>          

  <body>
  
  	
  
    
    <div class="container">
    
    	<div id="header" class="row">
    		<div class="col-md-4">
    			<img id="logo" src="/images/galaxia-dos.jpg"></img>
    		</div>
    		<div  class="col-md-8">
    			<h1>Tienda Estelar</h1>
    			<p>La tienda mas confiable de toda la galaxia</p>
    		</div>
    	</div>
    	
    	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="row">
        <a class="navbar-brand" href="/">Tienda Estelar</a>
             
            
             <a class="nav-link" href="/listadoComponentes">Catálogo</a>
            
           
             <a class="nav-link" href="/services">Servicios</a>
           
             <a class="nav-link" href="/contacto">Contacto</a>           
             
             
             <form action="/busquedaC">
				<input type="text" name="palabraBuscada"></input>
				<input type="submit" value="Buscar"></input>
			 </form>
          
          	<a class="nav-link" href="/agregar-componente">Agregar Componente</a> 
          
        </div>
    </nav>
    	
    	<div class="row">
    		<div id="categorias" class="col-md-3 mt-4">
    			
                <a href="busquedaT/placa">Placas de video</a><button type="button" data-toggle="collapse" data-target="#navbarResponsivePlacas" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		        </button>
		        <div class="collapse navbar-collapse" id="navbarResponsivePlacas">
		          <ul>
		            <li>
		              <a href="/busquedaM/nvidia">NVidia</a>
		            </li>
		            <li>
		              <a href="/busquedaM/ATI">ATI</a>
		            </li>
		           
		          </ul>
		        </div><br></br>
                <a href="busquedaT/procesador">Procesadores</a><button type="button" data-toggle="collapse" data-target="#navbarResponsiveProcesador" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		        </button>
		        <div class="collapse navbar-collapse" id="navbarResponsiveProcesador">
		          <ul>
		            <li>
		              <a href="/busquedaM/intel">Intel</a>
		            </li>
		            <li>
		              <a href="/busquedaM/AMD">AMD</a>
		            </li>
		           
		          </ul>
		        </div><br></br>
                <a href="busquedaT/RAM">Memorias RAM</a><br></br>
                
                <a href="busquedaT/fuente">Fuentes</a><br></br>
                
                <a href="busquedaT/gabinete">Gabinetes</a><button type="button" data-toggle="collapse" data-target="#navbarResponsiveGabinetes" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		        </button>
		        <div class="collapse navbar-collapse" id="navbarResponsiveGabinetes">
		          <ul>
		            <li>
		              <a href="/busquedaM/thermaltake">Thermaltake</a>
		            </li>
		            
		            <li>
		              <a href="/busquedaM/sentey">Sentey</a>
		            </li>
		            
		             <li>
		              <a href="/busquedaM/corsair">Corsair</a>
		            </li>
		            
		             <li>
		              <a href="/busquedaM/azza">Azza</a>
		            </li>
		            
		           
		          </ul>
		        </div><br></br>
                <a href="busquedaT/motherboard">Motherboard</a>
                <button type="button" data-toggle="collapse" data-target="#navbarResponsiveMother" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		        </button>
		        <div class="collapse navbar-collapse" id="navbarResponsiveMother">
		          <ul>
		            <li>
		              <a href="/busquedaM/msi">MSI</a>
		            </li>
		            
		            <li>
		              <a href="/busquedaM/asus">Asus</a>
		            </li>
		            
		             <li>
		              <a href="/busquedaM/gigabyte">Gigabyte</a>
		            </li>
		            
		             <li>
		              <a href="/busquedaM/asrock">Asrock</a>
		            </li>
		            
		           
		          </ul>
		        </div><br></br>
                <a href="busquedaT/cooler">Cooler</a>
		        
		        </div>
    			
    			
    		
    		
    		<div id="cuerpo" layout:fragment="fragm" class="col-md-9 mt-4">
	    			
    		</div>
    	
    	</div>
	    <div id="footer" class="row">
	   		<div  class="col-md-10">
	    		<p>La tienda mas mas mas confiable de toda la galaxia</p>
	    	</div>
	    	<div class="col-md-2">
	    		<p>4626-1123</p>
	    	</div>
	    </div>
    	
    </div>
    

   
  </body>

</html>