<!doctype html>
<html>
	<head>
		<title>Registro</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<h1>Registro muy importante</h1>
		<form action="/insertar-componente">
		
			<input name="tipo" type="text" placeholder="tipo"></input>
			<input name="marca" type="text" placeholder="marca"></input>
			<input name="modelo" type="text" placeholder="modelo"></input>
			<input name="velocidad" type="text" placeholder="velocidad"></input>
			<input name="familia" type="text" placeholder="familia"></input>
			<input name="socket" type="text" placeholder="socket"></input>
			<input name="nucleos" type="text" placeholder="nucleos"></input>
			<input name="tamanio" type="text" placeholder="tamanio"></input>
			<input name="capacidad" type="text" placeholder="capacidad"></input>
			<input name="certificada" type="text" placeholder="certificada"></input>
			<input name="precio" type="text" placeholder="precio"></input>
			<input value="Insertar Componente" type="submit"></input>
			
		
		</form>
		
	</body>

</html>