<!doctype html>
<html layout:decorator="paginaPrincipal">
	<head>
		<title>Registro</title>
		<link rel="stylesheet" type="text/css" href="/css/tienda.css"></link>

		<meta charset="UTF-8"></meta>
	</head>

	<body>
	  <div  layout:fragment="fragm">
		<h1>Agregar Componente</h1>
		<form action="/insertar-componente">
		
			<input name="tipo" type="text" placeholder="tipo"></input>
			<input name="marca" type="text" placeholder="marca"></input>
			<input name="modelo" type="text" placeholder="modelo"></input>
			<input name="velocidad" type="text" placeholder="velocidad"></input>
			<input name="familia" type="text" placeholder="familia"></input>
			<input name="socket" type="text" placeholder="socket"></input>
			<input name="nucleos" type="text" placeholder="nucleos"></input>
			<input name="tamanio" type="text" placeholder="tamanio"></input>
			<input name="capacidad" type="text" placeholder="capacidad"></input>
			<input name="certificada" type="text" placeholder="certificada"></input>
			<input name="precio" type="text" placeholder="precio"></input><br></br>
			<a href="#" id="upload_widget_opener">Cargá tus fotos</a>
			<input name="img" type="text" placeholder="url de la Imagen"></input>
			<input value="Insertar Componente" type="submit"></input>
			
		
		</form>
	  </div>
	</body>

</html>