<!doctype html>
<html layout:decorator="paginaPrincipal">
		<div layout:fragment="fragm">
			<h2>Venta de componentes</h2>
			<p>Vendemos diversos componentes con los que permitirte armar tu propia PC.</p>
			
			<h2>Armado de PCs</h2>
			<p>Ademas de vender los componentes ofrecemos la opcion de entregar la PC ya armada, con todo en su lugar, lista para usar</p>
			
			<h2>Pcs Pre-Armadas</h2>
			<p>Si queres una PC pero no queres armarla, o ni siquiera queres elegir los componentes que la conformaran, tenemos opciones
			 pre-armadas para cubrir distintos rangos de requisitos. Podes elegir la que mas se ajuste a tus necesidades</p>
		</div>
</html>