<!doctype html>
<html layout:decorator="paginaPrincipal">

<div layout:fragment="fragm">
	<div class="col-lg-4 mb-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></img></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">GTX 750Ti</a>
	                  </h4>
	                  <h5>$3000</h5>
	                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
	                </div>
	                
	              </div>
	            </div>
	
	            <div class="col-lg-4 mb-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></img></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">R7 260X</a>
	                  </h4>
	                  <h5>$1800</h5>
	                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
	                </div>
	                
	              </div>
	            </div>
	
	            <div class="col-lg-4 mb-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></img></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">GTX 970</a>
	                  </h4>
	                  <h5>$11199.99</h5>
	                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
	                </div>
	               
	              </div>
	            </div>
	
	            <div class="col-lg-4 mb-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></img></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">GTX 980Ti</a>
	                  </h4>
	                  <h5>$14999.99</h5>
	                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
	                </div>
	               
	              </div>
	            </div>
	
	            <div class="col-lg-4 mb-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></img></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">R9 480X</a>
	                  </h4>
	                  <h5>$24999.99</h5>
	                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
	                </div>
	                
	              </div>
	            </div>
	
	            <div class="col-lg-4 mb-4">
	              <div class="card h-100">
	                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></img></a>
	                <div class="card-body">
	                  <h4 class="card-title">
	                    <a href="#">GTX Titan</a>
	                  </h4>
	                  <h5>$13999.99</h5>
	                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
	                </div>
	                
	              </div>
	            </div>
</div>
</html>